.controls {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;

  button {
    all: unset;
    padding: 0.7em;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 0.5em;
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.3));
    cursor: pointer;
  }

  select {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
  }
}

.cards--mode-one {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 1em;

  @media (min-width: 500px) {
    --columns: 2;
  }

  @media (min-width: 1000px) {
    --columns: 3;
  }
}

.cards--mode-two {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  max-width: 80%;
  margin: -3em;
  padding: 3em;

  & > * {
    width: 30%;
    flex-shrink: 0;
  }
}
