.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: clip;
  padding: 1.5em;
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.2));
  border-radius: 1em;
  border: 1px solid #ccc;
  color: white;
  min-height: 15em;

  @media (min-width: 500px) and (max-width: 999px) {
    body:has(.card:nth-child(3)) & {
      &:first-child {
        grid-row: 2 span;
      }
    }
  }

  @media (min-width: 1000px) {
    body:has(.card:nth-child(4)) & {
      &:first-child {
        grid-row: 2 span;
      }
    }
  }

  h2,
  p {
    position: relative;
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  }

  img {
    object-fit: cover;
  }
}
