.text {
  view-transition-class: text;
}

.card {
  view-transition-class: card;

  &:nth-child(4),
  &:nth-child(6) {
    view-transition-class: card cardZ;

    .text {
      view-transition-class: text textZ;
    }
  }
}

::view-transition-group(*) {
  animation-duration: 0.7s;
  /*animation-duration: 2s;*/
  /*animation-timing-function: cubic-bezier(0, 2.35, 1, -1.54);*/
}

::view-transition-group(.cardZ) {
  z-index: 1;
}

::view-transition-group(.textZ) {
  z-index: 2;
}

::view-transition-old(.card),
::view-transition-new(.card) {
  height: 100%;
  object-fit: cover;
  overflow: clip;
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.2));
  border-radius: 1em;
}

::view-transition-new(.card):only-child {
  animation-name: move-in;
  transform-origin: top left;
}

@keyframes move-in {
  from {
    transform: scale(0);
  }
}
